# Ativa o motor de reescrita de URL do Apache
RewriteEngine On

# Impede que os usuários possam listar o conteúdo das pastas
Options -Indexes

ErrorDocument 404 /404.php

# ----------------------------------------------------
# SEÇÃO 1: REGRAS ESPECÍFICAS PARA NOTÍCIAS
# ----------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^noticias/?$ noticias.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^noticias/([a-zA-Z0-9-]+)/?$ noticia.php?slug=$1 [L,QSA]
